@tailwind base;
@tailwind components;
@tailwind utilities;

.mainBg {
 background-image: url("../../public/assets/images/darkEffect.png");
 background-size: cover;
 position: relative;
 background-repeat: no-repeat;
 /* background-position: center; */
 height: 100vh;
}

html {
  scroll-behavior: smooth;
}


/* faq bg */
.secBg {
 background-image: url("../../public/assets/images/darkEffect.png");
 background-size: cover;
 position: relative;
 background-repeat: no-repeat;
 /* background-position: center; */
 /* height: 100vh; */
}

/* partenaires section bg */
/* .partBg {
 background-image: url("../../public/assets/images/pattern-rbg.svg");
 background-size: cover;
 position: relative;
 background-repeat: no-repeat;
 background-position: center; */
 /* height: 100vh; */
/* } */

.grayscale {
 filter: grayscale(100%);
 transition: filter 0.3s ease;
}

.grayscale:hover {
 filter: grayscale(0%);
}


/* Customize scrollbar for Chrome, Edge, and Opera */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #FEE012; /* Light background */
}

::-webkit-scrollbar-thumb {
    background-color: #FEE012; /* Yellow scrollbar */
    border-radius: 6px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FEE012; /* Slightly darker yellow when hovered */
}

/* Customize scrollbar for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #FEE012 #382a2a;
}


/* Custom selection styles */
::selection {
  @apply bg-mainYellowColor text-black;
}