@tailwind base;
@tailwind components;
@tailwind utilities;

.mainBg {
 background-image: url("../../public/assets/images/darkEffect.png");
 background-size: cover;
 position: relative;
 background-repeat: no-repeat;
 /* background-position: center; */
 height: 100vh;
}

/* faq bg */
.faqBg {
 background-image: url("../../public/assets/images/darkEffect.png");
 background-size: cover;
 position: relative;
 background-repeat: no-repeat;
 /* background-position: center; */
 /* height: 100vh; */
}

/* partenaires section bg */
/* .partBg {
 background-image: url("../../public/assets/images/pattern-rbg.svg");
 background-size: cover;
 position: relative;
 background-repeat: no-repeat;
 background-position: center; */
 /* height: 100vh; */
/* } */

.grayscale {
 filter: grayscale(100%);
 transition: filter 0.3s ease;
}

.grayscale:hover {
 filter: grayscale(0%);
}
